<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.arafat1419.mengantri_app.company">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_company">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name=".register.RegistrationStatusActivity"
            android:exported="false" />
        <activity
            android:name=".CompanyActivity"
            android:exported="false" />
    </application>

</manifest>